<h4>マイページ</h4>

<div>
  <h4>登録情報</h4>
<%= link_to"編集する", information_edit_customers_path %>

</div>

 <div>
   氏名 <%= @customer.last_name %> <%= @customer.first_name %><br>
   カナ <%= @customer.last_name_kana %> <%= @customer.first_name_kana %><br>
   郵便番号 <%= @customer.postal_code %><br>
   住所 <%= @customer.address %><br>
   電話番号 <%= @customer.telephone_number %><br>
   メールアドレス <%= @customer.email %><br>
 </div>

 <h4>配送先 <%= link_to "一覧を見る", shippings_path(@customer) %></h4>
 <h4>注文履歴 <%= link_to "一覧をみる", orders_path %></h4>