<div class="container">
   <div class="row">
     <h4 class="mt-4 bg-light">マイページ</h4>
      </div>
          <div class="row">
             <div class="col-3 mt-3">
               <table class="table table-borderless">
                    <tr>
                      <td><h5><strong>登録情報</strong></h5></td>
                      <td><%= link_to"編集する", information_edit_customers_path, class: " px-4 btn btn-sm btn-success" %></td>
                    </tr>
               </table>
             </div>
           </div>
           <div class="row">
             <div class="col-8">
               <table class="table table-bordered">
                    <tr><td class="bg-light font-normal">氏名</td><td><%= @customer.last_name %> <%= @customer.first_name %></td></tr>
                    <tr><td class="bg-light">カナ</td><td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td></tr>
                    <tr><td class="bg-light">郵便番号</td><td><%= @customer.postal_code %></td></tr>
                    <tr><td class="bg-light">住所</td><td><%= @customer.address %></td></tr>
                    <tr><td class="bg-light">電話番号</td><td><%= @customer.telephone_number %></td></tr>
                    <tr><td class="bg-light">メールアドレス</td><td><%= @customer.email %></td></tr>
                </table>
             </div>
           </div>
           <div class="row">
             <div class="col-3 mt-3">
               <table class="table table-borderless">
                    <tr>
                      <td><h5><strong>配送先</strong></h5></td>
                      <td><%= link_to "一覧を見る", shippings_path(@customer), class: " px-4 btn btn-sm btn-primary" %></td>
                    </tr>
                    <tr>
                       <td><h5><strong>注文履歴</strong></h5></td>
                       <td><%= link_to "一覧を見る", orders_path, class: " px-4 btn btn-sm btn-primary" %></td>
                     </tr>

               </table>
             </div>
           </div>
</div>



