<h3>配送先編集</h3>
 <%= form_with model: @shipping do |f| %>
  <p>郵便番号(ハイフンなし ) <%= f.text_field :postal_code %></p>
  <p>住所 <%= f.text_field :address %></p>
  <p>宛名 <%= f.text_field :name %></p>
  <p><%= f.submit '変更内容を保存' %></p>
 <% end %>