<div class="container">
  <div class="row">
    <h4 class="mt-4 bg-light"><%= @customer.full_name %>さんの会員情報編集</h4>
</div>
      <div class="row mt-4">
        <div class="col-8 px-5 my-auto">
          <table class="table table-borderless">
            <tbody>
                  <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
                   <tr>
                       <div class="form_group">
                        <td>会員ID</td><td><%= @customer.id %></td>
                      </div>
                  </tr>
                  <tr>
                      <div class="form_group">
                        <td>氏名</td><td><%= f.text_field :last_name %></td>
                        <td><%= f.text_field :first_name %></td>
                      </div>
                  </tr>
                  <tr>
                        <div class="form_group">
                         <td>フリガナ</td><td><%= f.text_field :last_name_kana %></td>
                                 <td><%= f.text_field :first_name_kana %></td>
                        </div>
                  <tr>
                  <tr>
                        <div class="form_group">
                            <td>郵便番号</td> <td><%= f.text_field :postal_code %></td>
                        </div>
                  </tr>
                  <tr>
                        <div class="form_group">
                          <td>住所</td><td><%= f.text_field :address %></td>
                        </div>
                  </tr>
                  <tr>
                        <div class="form_group">
                          <td>電話番号</td><td><%= f.text_field :telephone_number %></td>
                        </div>
                  </tr>
                  <tr>
                        <div class="form_group">
                          <td>メールアドレス</td><td><%= f.text_field :email %></td>
                        </div>
                  </tr>
                  <tr>
                        <div class="form_group">
                          <td>会員ステータス</td>
                          <td><%= f.radio_button :is_deleted, false %>
                          <%= f.label :is_deleted, '有効' %>
                          <%= f.radio_button :is_deleted, true %>
                          <%= f.label :is_deleted, '退会' %></td>
                        </div>
                  </tr>
                  <tr>
                        <div class="form-group">
                        <td></td><td><%= f.submit "変更を保存", class: "btn btn-lg btn-success" %></td>
                        </div>
                  </tr>
                  <% end %>


</div>

