<h3>注文履歴詳細 </h3>
<div>
  購入者 <%= @order.customer.full_name %>
  注文日 <%= @order.created_at.strftime('%Y/%m/%d') %>
  配送先 <%= @order.address %>
  支払い方法 <%= @order.payment_methods_i18n %>
</div>

<table class="table">
 <thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
 </thead>
 <tbody>
  <% @order_details.each do |order_detail| %>
   <tr>
    <td><%= order_detail.item.name %></td>
    <td><%= order_detail.price.to_s(:delimited) %></td>
    <td><%= order_detail.amount %></td>
    <td><%= ((order_detail.price * order_detai.amount.to_s(:delimited) %></td>
   </tr>
  <% @total += cart_item.subtotal %>
  <% end %>
 </tbody>
</table>

<table class="table">
  <tr><th>商品合計</th><td><%= @total.to_s(:delimited) %></td></tr>
  <tr><th>送料</th><td><%= @order.shipping_cost %></td></tr>
  <tr><th>請求金額</th><td><%= @order.total_payment(@total).to_s(:delimited) %></td></tr>
</table>


