<div class="container">
      <div class="row">
         <h4 class="mt-4 bg-light">注文履歴詳細</h4>
      </div>
      <div class="row mt-3">
             <div class="col-7">
                  <table class="table table-bordered">
                     <h5 class="font-weight-bold">注文情報</h5>
                           <tr><th class="bg-light">注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
                           <tr><th class="bg-light">配送先</th><td>〒<%= @order.postal_code %><br>
                                                    <%= @order.address %><br>
                                                    <%= @order.name %></td></tr>
                           <tr><th class="bg-light">支払い方法</th><td><%= @order.payment_method_i18n %></td></tr>
                           <tr><th class="bg-light">ステータス</th><td><%= @order.status_i18n %></td></tr>
                  </table>
             </div>
             <div class="col-3">
                  <table class="table table-bordered">
                     <h5 class="font-weight-bold">請求情報</h5>
                       <tr><th class="bg-light">商品合計</th><td><%= @order_details.sum(&:subtotal) %></td></tr>
                       <tr><th class="bg-light">送料</th><td><%= @order.shipping_cost %></td></tr>
                       <tr><th class="bg-light">請求金額</th><td><%= @order.total_payment.to_s(:delimited) %></td></tr>
                  </table>
             </div>
       </div>
       <div class="row mt-3">
             <div class="col-9">
                  <table class="table table-bordered">
                     <h5 class="font-weight-bold">注文内容</h5>
                       <thead class="bg-light">
                          <th>商品名</th>
                          <th>単価(税込)</th>
                          <th>数量</th>
                          <th>小計</th>
                       </thead>
                       <tbody>
                         <% @order_details.each do |order_detail| %>
                          <tr>
                            <td><%= order_detail.item.name %></td>
                            <td><%= order_detail.price.to_s(:delimited) %></td>
                            <td><%= order_detail.amount %></td>
                            <td><%= order_detail.subtotal.to_s(:delimited) %>
                          </tr>
                         <% end %>
                       </tbody>
                  </table>
                </div>
        </div>
</div>